*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // It defines 1rem i.e 10px
  font-size: 62.5%;

  @include respond(tab-land) {
    // <= 1200 ?
    font-size: 56.25%; // 9px
  }

  @include respond(tab-port) {
    //  <= 900 ?
    font-size: 50%; // 8px
  }

  @include respond(big-desktop) {
    font-size: 75%; //12px
  }
}

body {
  box-sizing: border-box;
}
